<h2 class='page-header'>Upload File</h2>
<form (submit)="onSubmit()">
  <div class="form-group">
    <label>Module:</label>
    <select #select class="form-control" id="moduleSelect" (change)="onChange(select.value)">
      <option *ngFor="let module of adminModules" [value]="module">{{module}}</option>
    </select>
  </div>
  <div class="form-group">
    <label >File:</label>
    <input type="file" (change)="upload($event)" accept=".pdf,.doc,.docx" />
  </div>
  <input type="submit" class="btn btn-primary" value="{{btnText}}" [disabled]="block">
</form>
