<div class="jumbotron jumbotron-fluid text-center">
  <h1>Examination System</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis doloribus error fuga, labore
    molestiae officiis pariatur reiciendis. Ad eos eveniet ipsam, obcaecati placeat ratione recusandae repudiandae
    tempora veniam vero?
  </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Log in</a>
  </div>
</div>

